/* Стили для файла index.html */
/* 
#757575 - цвет основного текста
#212121 - вторичный цвет текста
#FFFFFF - белый
#2196F3 - цвет акцент
#188CE8 - button hover (hero section)
#F5F4FA - background color
 */

:root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
  --accent-color: #2196f3;
  --button-change-color: #188ce8;
  --white-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Секция Header */
.logo {
  font-family: Raleway;
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.nav .link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
}

.nav .link:hover,
.nav .link:focus {
  color: var(--accent-color);
}
.link-main {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.contacts-link {
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/* Секция Главная страница */
.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  background-color: #2f303a;
  color: var(--white-color);
}
.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
}
.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--button-change-color);
}

/* Секция Преимущества  */
.subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tittle-text-color);
}
.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* Секция Чем мы занимаемся */
.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}
/* Секция Наша команда  */
.name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}
.position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Секция footer  */
.footer {
  background-color: #2f303a;
}
.address {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
/* Основная секция портфолио с работами */
/* Список кнопок */
.btn-menu {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--tittle-text-color);
  background-color: #f5f4fa;
}
.btn-menu:hover,
.btn-menu:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.btn-menu-main {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--white-color);
  background-color: var(--accent-color);
}
.btn-menu-main,
.btn-menu-main:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Список работ с img */
.proj-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}
.proj-descrip {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
